* {
    margin:0;
    box-sizing: border-box;
}
#container {
    background-image:url(/camaro-background.png);
    background-size: 100% 100%;
}
.material-icons {
    color:whitesmoke;
}
#logo {
    width:150px;
    height:150px;
}
ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-left:0;
    padding-top:10px;
    font-size:12px;
}
ul li a {
    text-decoration: none;
    color:whitesmoke;
}
ul li a #separater {
    margin-right:auto;
}